img[alt*="Octopus"] {
	position: absolute;
	top: 30%;
	left: 40%;
	z-index: -1;
}

img[alt*="Hat"] {
	position: absolute;
	height: 20%;
	width: 20%;
	top: 20%;
	left: 40%;
}

img[alt*="Glasses"] {
	position: absolute;
	top: 45.5%;
	left: 43.5%;
}